.Body__Wallpaper {
  background-image: url("../img/start2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  display: block;
}
.Body__Wallpaper .Body__WallpaperParticles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35vh;
}
