.Body__Wallpaper {
  background-image: url("../img/start2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 800vh;
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  filter: hue-rotate(0deg);
  animation: bodyAnimation 20s infinite;
}
@-webkit-keyframes bodyAnimation {
  0% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@-moz-keyframes bodyAnimation {
  0% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@-o-keyframes bodyAnimation {
  0% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@keyframes bodyAnimation {
  0% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
