.Content {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 50px 0;
}
.Content h2 {
  text-align: center;
}
.Content h3 {
  margin: 0;
}
.Content a {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
.Content li {
  color: white;
  font-size: 15px;
  list-style: none;
}
.Content__Home {
  background: black;
  padding: 25px 10px;
  margin-bottom: 25px;
}
.Content__Home a {
  color: #1793d0;
}
.Content__Work {
  background: black;
  padding: 25px 10px;
  margin-bottom: 25px;
}
.Content__Work a {
  color: #E34C26;
}
.Content__List {
  margin-bottom: 10px;
}
