@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v8/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Mw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v8/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprJVD7Mw.ttf) format('truetype');
}
body {
  display: block;
  padding: 100px 0;
  background-color: #282a36;
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  width: 850px;
  margin: 0 auto;
}
@media (max-width: 920px) {
  body {
    width: auto;
    margin: 0;
    padding: 50px 15px;
  }
}
@media (max-width: 680px) {
  body {
    font-size: 14px;
  }
}
p {
  color: #bd93f9;
}
em {
  color: #ffb86c;
}
ul {
  padding: 0 0 0 15px;
  margin: 0;
}
li {
  color: #50fa7b;
}
a {
  color: #f1fa8c;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #8be9fd;
  text-decoration: underline;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
strong {
  display: block;
  margin-top: 45px;
}
.sourceCode {
  display: block;
  background-color: #44475a;
  padding: 5px;
}
.sourceCode span {
  color: white!important;
}
.Posts {
  display: block;
  margin: 30px 0;
}
.Posts__Post {
  display: block;
  margin: 15px 0;
  border: 2px dashed #ffb86c;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}
.Posts__Post:hover,
.Posts__Post:focus,
.Posts__Post:focus {
  background-color: #ffb86c;
}
.Posts__Post:hover h2,
.Posts__Post:focus h2,
.Posts__Post:focus h2 {
  color: #282a36;
}
.Posts__Post:hover span,
.Posts__Post:focus span,
.Posts__Post:focus span {
  color: #282a36;
  text-decoration: underline;
}
.Posts__Post h2 {
  margin-top: 0;
  color: #ffb86c;
  text-decoration: none;
}
.Posts__Post span {
  color: #50fa7b;
}
