.index {
  background: #333;
  padding-top: 25px;
}
.arcticle {
  background: #333;
  padding-bottom: 25px;
}
pre {
  border-radius: 0 !important;
  border: 1px solid #1793d1;
  margin-bottom: 25px;
}
pre span.line-numbers-rows {
  border-color: #1793d1 !important;
}
pre span.line-numbers-rows span:before {
  color: #1793d1;
}
a.footer {
  margin-top: 50px;
}
a.index {
  font-size: 16px;
  background: transparent !important;
}
.key {
  display: inline-block;
  padding: 3px;
  background: white;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  font-family: "Courier New", monospace;
  -webkit-box-shadow: 0px 6px 3px -2px #c0c0c0;
  -moz-box-shadow: 0px 6px 3px -2px #c0c0c0;
  box-shadow: 0px 6px 3px -2px #c0c0c0;
  margin: 5px;
  min-width: 30px;
  text-align: center;
}
table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;
}
table {
  width: 100%;
}
body {
  color: white;
  position: relative;
}
hr {
  opacity: .3;
  border-color: #f17600;
}
a {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:focus,
a:active,
a:visited {
  color: white;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-family: 'Megrim', cursive;
}
@media (max-width: 729px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  h1 {
    font-size: 30px;
  }
}
h2 {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
  font-size: 50px;
  text-transform: lowercase;
  color: #1793d1;
}
h3 {
  text-align: center;
  margin: 0 0 25px 0;
  padding: 0;
}
h4 {
  color: #31C854;
  margin-top: 50px;
}
p {
  font-size: 16px;
  text-align: justify;
}
p.date {
  font-family: "Courier New", monospace;
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  color: #31C854;
  margin-bottom: 0;
}
p.updated {
  font-family: "Courier New", monospace;
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  color: lightcoral;
  margin-top: 0;
}
p.first {
  color: lightcoral;
  font-weight: bolder;
  display: block;
  width: 100%;
  border-bottom: 1px solid lightcoral;
  font-size: 30px;
}
p.second {
  color: #1793d1;
  margin-bottom: 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #1793d1;
  font-size: 20px;
}
p.example {
  font-style: italic;
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: -5px;
}
sup {
  color: #1793d1;
}
.index-navigation {
  margin-top: 20%;
}
.dropdown {
  margin-bottom: 15px;
}
.dropdown button {
  display: block !important;
  width: 50%;
  margin: 0 auto;
  border-radius: 0;
  background: transparent;
  border-color: #31C854;
  color: white;
  text-transform: uppercase;
}
.dropdown button:hover,
.dropdown button:active,
.dropdown button:focus {
  background: transparent !important;
  color: white !important;
  border-color: white !important;
}
.dropdown .dropdown-menu {
  position: relative;
  margin: 0 auto;
  float: none;
  width: 50%;
  background: #31C854;
  color: black;
  border-radius: 0;
}
ul.subindex {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.subindex li {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  border: 1px solid #31C854;
}
ul.subindex li a {
  text-decoration: none;
}
ul.subindex .subindex-link {
  margin-bottom: 15px;
}
.search {
  font-style: italic;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
.search div {
  display: inline-block;
}
ul {
  list-style: none;
}
ul li:last-of-type {
  margin-bottom: 25px;
}
.fmogh {
  position: relative;
}
.fmogh :after {
  content: 'see github profile';
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  font-family: Arial, monospace;
  color: #31C854;
}
@media (max-width: 729px) {
  .fmogh :after {
    display: none;
  }
}
.fmogh a {
  text-decoration: none;
  color: #1793d1;
}
.start-picture {
  height: 100vh;
  background: url(../img/start.jpg) no-repeat center center fixed;
  position: relative;
}
.start-picture .start {
  position: absolute;
  background: rgba(51, 51, 51, 0.9);
  padding: 1%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.start-picture .index-arrow {
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  cursor: pointer;
  color: #1793d1;
}
