.index {
  background: #333333;
  padding-top: 25px;
  position: relative;
}
.index .last-update a {
  position: absolute;
  top: -40px;
  right: 15px;
  font-family: "Courier New", monospace;
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  color: #31C854;
  margin-bottom: 0;
  background: rgba(51, 51, 51, 0.9);
  padding: 5px 10px;
  text-decoration: none;
  transition: all .3s;
}
.index .last-update a:hover {
  background: #1793d1;
  color: white;
  transition: all .3s;
}
a.index {
  font-weight: bolder;
}
.arcticle {
  background: #333;
  padding-bottom: 25px;
}
pre {
  border-radius: 0 !important;
  border: 1px solid #1793d1;
  margin-bottom: 25px;
}
pre span.line-numbers-rows {
  border-color: #1793d1 !important;
}
pre span.line-numbers-rows span:before {
  color: #1793d1;
}
a.footer {
  margin-top: 50px;
}
a.index {
  font-size: 16px;
  background: transparent !important;
}
.keys {
  display: inline-block;
  padding: 3px;
  background: white;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  font-family: "Courier New", monospace;
  -webkit-box-shadow: 0px 6px 3px -2px #c0c0c0;
  -moz-box-shadow: 0px 6px 3px -2px #c0c0c0;
  box-shadow: 0px 6px 3px -2px #c0c0c0;
  margin: 5px;
  min-width: 30px;
  text-align: center;
}
table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;
}
table {
  width: 100%;
}
body {
  color: white;
  position: relative;
}
body.arcticle a {
  text-decoration: underline;
  font-style: italic;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:focus,
a:active,
a:visited {
  color: white;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-family: 'Megrim', cursive;
}
@media (max-width: 729px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  h1 {
    font-size: 30px;
  }
}
h2 {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
  font-size: 50px;
  color: #1793d1;
  font-family: 'Megrim', cursive;
  font-weight: bolder;
}
h3 {
  text-align: center;
  margin: 0 0 25px 0;
  padding: 0;
  font-family: 'Megrim', cursive;
}
h4 {
  color: #31C854;
  margin-top: 50px;
  font-family: 'Megrim', cursive;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}
h5 {
  font-size: 20px;
  font-weight: bolder;
  color: #e74c3c;
}
p {
  font-size: 16px;
  text-align: justify;
}
p.date {
  font-family: "Courier New", monospace;
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  color: #31C854;
  margin-bottom: 0;
}
p.updated {
  font-family: "Courier New", monospace;
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  color: #e74c3c;
  margin-top: 0;
}
p.first {
  color: #31C854;
  display: block;
  width: 100%;
  border-bottom: 3px solid #31C854;
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Megrim', cursive;
  position: relative;
}
p.first:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 71px;
  background: #31C854;
  left: 0;
  bottom: -71px;
}
@media (max-width: 515px) {
  p.first:before {
    display: none;
  }
}
p.second {
  position: relative;
  color: #1793d1;
  display: block;
  width: 100%;
  border-bottom: 2px solid #1793d1;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Megrim', cursive;
}
p.second:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 30px;
  background: #1793d1;
  left: 0;
  bottom: -30px;
}
@media (max-width: 515px) {
  p.second:before {
    display: none;
  }
}
p.third {
  position: relative;
  color: #e74c3c;
  display: block;
  width: 100%;
  border-bottom: 1px solid #e74c3c;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Megrim', cursive;
  margin-top: 15px;
}
p.third:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 25px;
  background: #e74c3c;
  left: 0;
  bottom: -25px;
}
@media (max-width: 515px) {
  p.third:before {
    display: none;
  }
}
p.example {
  font-style: italic;
  font-size: 13px;
  margin-top: 25px;
  margin-bottom: -5px;
}
sup {
  color: #1793d1;
}
.index-navigation {
  margin-top: 20%;
}
ul.subindex {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.subindex li {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  border: 1px solid #31C854;
}
ul.subindex li a {
  text-decoration: none;
}
ul.subindex .subindex-link {
  margin-bottom: 15px;
}
.search {
  font-style: italic;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
.search div {
  display: inline-block;
}
.search-desktop {
  display: block;
}
@media (max-width: 900px) {
  .search-desktop {
    display: none;
  }
}
.search-mobil {
  display: none !important;
}
@media (max-width: 900px) {
  .search-mobil {
    display: block !important;
  }
}
ul {
  list-style: none;
}
@media (max-width: 515px) {
  ul {
    padding: 0;
  }
}
ul li:last-of-type {
  margin-bottom: 25px;
}
.fmogh {
  position: relative;
  font-weight: bolder;
}
.fmogh :after {
  content: 'see github profile';
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  font-family: Arial, monospace;
  color: #31C854;
  transition: color .3s;
}
@media (max-width: 729px) {
  .fmogh :after {
    display: none;
  }
}
.fmogh a {
  text-decoration: none;
  color: #1793d1;
  transition: color .3s;
}
.fmogh:hover :after {
  color: #1793d1;
  transition: color .3s;
}
.fmogh:hover a {
  color: #31C854;
  transition: color .3s;
}
.start-picture {
  height: 100vh;
  background: url(../img/start.jpg) no-repeat center center fixed;
  position: relative;
}
.start-picture .start {
  position: absolute;
  background: rgba(51, 51, 51, 0.7);
  padding: 1%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.start-picture .index-arrow {
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  cursor: pointer;
  color: #1793d1;
}
.img-responsive {
  margin: 25px auto;
}
.box {
  padding: 20px;
  border: 1px solid white;
}
.box__heading {
  font-size: 20px;
  text-transform: uppercase;
}
.box__text {
  font-size: 13px;
  color: gray;
}
.box__link {
  color: #d30000;
  text-decoration: none;
  font-size: 14px;
}
.box__link:hover {
  font-weight: bolder;
  color: indianred;
}
.box__link.box__link--small {
  font-size: 11px;
}
span.command-line-prompt {
  border-color: #1793d1;
}
.command-line-prompt > span:before {
  color: #1793d1;
}
::-webkit-scrollbar {
  display: none;
}
.article_bg {
  height: 25vh;
  background: url(../img/articles_bg.jpg) no-repeat center center fixed;
  background-position-y: -236px;
}
footer {
  text-align: center;
  background: #333333;
  /* Old browsers */
  background: -moz-linear-gradient(top, #333333 0%, #2989d8 50%, #207cca 50%, #2989d8 50%, #2989d8 50%, #2989d8 50%, #1793d1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #333333 0%, #2989d8 50%, #207cca 50%, #2989d8 50%, #2989d8 50%, #2989d8 50%, #1793d1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #333333 0%, #2989d8 50%, #207cca 50%, #2989d8 50%, #2989d8 50%, #2989d8 50%, #1793d1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#1793d1', GradientType=0);
  /* IE6-9 */
  padding: 5px;
}
footer a.impressum {
  color: white;
}
input.form-control.input-sm {
  display: block;
  margin: 0 auto;
  border-radius: 0;
  outline: none;
  width: 200px;
}
input.form-control.input-sm:focus {
  border: none;
  box-shadow: none;
}
a .glyphicon-console {
  margin-right: 5px;
  transition: margin-right 0.3s;
}
a:hover .glyphicon-console {
  margin-right: 10px;
  transition: margin-right 0.3s;
}
