
.arcticle {
  padding-left: 5%;
  padding-right: 5%;
}

pre {
  border-radius: 0 !important;
  border: 1px solid gray;
  margin-bottom: 25px;
}

a {
  &.footer {
    margin-top: 50px;

  }
  &.index {
    font-size: 16px;
  }
}

.key {
  display: inline-block;
  padding: 3px;
  background: white;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  font-family: "Courier New", monospace;
  -webkit-box-shadow: 0px 6px 3px -2px rgb(192, 192, 192);
  -moz-box-shadow: 0px 6px 3px -2px rgb(192, 192, 192);
  box-shadow: 0px 6px 3px -2px rgb(192, 192, 192);
  margin: 5px;
  min-width: 30px;
  text-align: center;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px;
}

table {
  width: 100%;
}

body {
  background: #333;
  color: white;
  font-family: Arial, sans-serif;
  padding-bottom: 50px;
  position: relative;
}

hr {
  opacity: .3;
  border-color: #f17600;
}

a {
  color: white;
  text-decoration: underline;
  &:hover {
    color: white;
    text-decoration: none;
  }
  &:focus, &:active, &:visited {
    color: white;
  }
}

h1 {
  text-align: center;
}

h2 {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bolder;
  font-size: 40px;
  text-transform: lowercase;
  .clone {
    position: absolute;
    color: #31C854;
    font-size: 12px;
    text-decoration: none;
    transition: color .3s;
    &:hover {
      color: white;
      transition: color .3s;
    }
  }
}

h3 {
  text-align: center;
  margin: 0 0 25px 0;
  padding: 0;
}

h4 {
  color: #31C854;
  margin-top: 50px;
}

p {
  font-size: 16px;
  text-align: justify;
  &.date {
    font-family: "Courier New", monospace;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
    color: #31C854;
    margin-bottom: 0;
  }
  &.updated {
    font-family: "Courier New", monospace;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
    color: lightsalmon;
    margin-top: 0;
  }
  &.first {
    color: lightcoral;
    font-weight: bolder;
  }
  &.second {
    color: lightseagreen;
    margin-bottom: 0;
  }
  &.example {
    font-style: italic;
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: -5px;
  }
}

sup {
  color: #1793d1;
}

.index-navigation {
  margin-top: 20%;
}

.dropdown {
  margin-bottom: 15px;
  button {
    display: block !important;
    width: 50%;
    margin: 0 auto;
    border-radius: 0;
    background: transparent;
    border-color: #31C854;
    color: white;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
      background: transparent !important;
      color: white !important;
      border-color: white !important;
    }
  }
  .dropdown-menu {
    position: relative;
    margin: 0 auto;
    float: none;
    width: 50%;
    background: #31C854;
    color: black;
    border-radius: 0;
  }
}

ul.subindex {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 1px solid #31C854;
    a {
      text-decoration: none;
    }
  }

  .subindex-link {
    margin-bottom: 15px;
  }
}

.search {
  font-style: italic;
  display: block;
  margin: 0 auto;
  text-align: center;
  div {
    display: inline-block;
  }
}